@import "./variables.scss";


.action-button {
    background-color: white;
    border: 2px $primary-2 solid;
    color: $primary-2;
    padding: 5px 10px;
    border-radius: 7px;
    
    &:hover {
        cursor: pointer;
        background-color: $primary-2;
        color: white;
        border: white;
    }
}

.create-button,
.details-action-button {
    background-color: $primary-1;
    color: white;
    border-radius: 100px;
    padding: 7px 10px;
    border: 0;
    min-width: 70px;

    &:hover {
        cursor: pointer;
        background-color: $primary-2;
    }
}

.details-action-button {
    margin: 0 5px;
}

.delete-button {
    background-color: $primary-1;
    color: white;
    border-radius: 100px;
    padding: 7px 10px;
    border: 0;
    min-width: 70px;

    &:hover {
        cursor: pointer;
        background-color: $primary-2;
    }
}

.login-button {
    width: 100%;
    border-radius: 50px;
    background-color: #22092C;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

.sign-up-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}
